.nmenu ul{
	font: normal 12px Verdana;
	list-style: none;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}

.nmenu ul li{
	position: static; /* menu li items should have position set to static */
}

.nmenu > ul{     /* main menu */
	
	
	
	/* width: 200px; width of main menu
	border-radius: 5px;
	border: 0px solid gray;
	background: white;
	 */
	/* height: 500px; height of main menu */
	position: relative;
}

.nmenu > ul li a{
	color: black;
	display: block;
	overflow: auto;
	padding: 0px 0;
	position: relative;
	text-decoration: none;
	text-indent: 10px;
}

.nmenu > ul li.hassub > a::after{ /* Arrow to indicate this item has sub menu (LI elements with sub menus have a ".hassub" class). */
/*	border: 5px solid transparent;
	border-left-color: gray;  Default color of arrow */
	content: '';
	height: 0;
	position: absolute;
	right: 5px;
	top: 35%;
	width: 0;
}

.nmenu > ul li.hassub.selected > a::after{ /* Style of arrow when corresponding sub menu is open (LI element has a "selected" class during this state */
	border-left-color: red;
}

.nmenu ul li a:hover, .nmenu ul li.hassub.selected > a{ /* style of hover and selected menu item links */
	background: lightblue;
	color: navy;
}

.nmenu ul li > div, .nmenu ul li > ul{ /* Sub menus (Could be a DIV or UL wrapper) style */
	
	
	
	
	display: none;
	font-weight: normal;
	/*width: 1000px;	
	border: 0px solid gray;
	border-radius: 0 8px 8px 0;
	box-shadow: 0px 0px 0px gray;
	background: white;
	*/
	
		
	/*height: 500px;  height of sub menu */
	left: 102%;
	padding: 10px;
	position: absolute;
	top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1000;
}


/* ###### CSS Media queries ###### */

@media screen and (max-width: 480px){ /* When screen size is 480px */
	.nmenu ul li > div, .nmenu ul li > ul{
		left: 30px; /* Stack the sub menus so they take up less space */
	}

	.nmenu > ul li.hassub.selected::after{ /* Add "veil" to parent menus */
		background: #eee;
		content: '';
		height: 100%;
		left: 0;
		opacity: .8;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
}